* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-info {
    display: none;
}

.categories {
    text-align: center;
    width: 100%;
    min-height: 160px;
}

.categories__items {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.categories__item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 24px 16px 24px 16px;
    height: 160px;
    width: 240px;
    border-left: 0;
    border-top: 0;
    background-image: linear-gradient(to right, rgb(187, 230, 255), rgb(141, 210, 250));
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
    transition: all 0.7s ease;
}

.categories__item:hover {
    background-image: linear-gradient(to right, rgb(141, 210, 250), rgb(77, 185, 248));
    box-shadow: -5px -5px 5px 0px rgba(0, 0, 0, 0.4);
    border-right: 0;
    border-bottom: 0;
    transform: translateY(-30px);
}

.categories__item:hover .categories__item__header {
    color: rgb(41, 172, 248);
}

.categories__item__header {
    font-variant: small-caps;
    font-size: 1.7rem;
    color: rgb(70, 191, 250);
}

.container {
    display: none;
    height: 50%;
    text-align: center;
}

input {
    margin: 10px 0px;
    outline: none;
}

button {
    width: 50%;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 5px;
    font-variant: small-caps;
}

button:hover {
    border: 1px solid rgba(0, 0, 0, 1);
}

.guessedPassword {
    color: rgb(10, 190, 50);
    font-weight: 600;
}

img {
    display: block;
    margin: 0px auto 0px auto;
}

.unguessedPassword {
    text-transform: capitalize;
    font-weight: 600;
    color: rgb(185, 20, 20)
}

@media (hover: none) {
    .categories {
        display: none;
    }

    .mobile-info {
        display: block;
        font-size: 2rem;
        text-align: center;
    }
}

@media (max-width: 1631px) {
    .break {
        width: 100%;
        flex-wrap: wrap;
    }
}

@media (max-width: 1000px) {

    .categories {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .categories__items {
        display: block;
    }
}